body{
    background:url("../img/icecream1.png") no-repeat center 83px, radial-gradient(circle closest-side at center 500px, white, #849d8f);

}

header{

    position: relative;

}

header h1{
    color: white;
    text-align: center;
    margin-top: 270px;
}

.control{
    display: flex;
    position: absolute;
}


.control input{
    display: none;
}
.control label{
    height: 21px;
    width: 21px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: 8px;
    margin-top: 8px;
    transition: all 0.5s ease;
}

.control label:hover{
    cursor: pointer;
    background: rgba(248, 247, 244,0.4);
}

.control label:nth-child(4){
    margin-left: 0;


}

#slide1:checked ~ label:nth-child(4),
#slide2:checked ~ label:nth-child(5),
#slide3:checked ~ label:nth-child(6)
{
    background: white;
}

.btn-form{
    display: flex;
    justify-content: center;

}




.btn-form button{
    width: 282px;
    height: 66px;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: white;
}




.promo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.promo article{
    flex-basis: 560px;
    border-radius: 10px;
    margin-top:25px;
    height: 230px;
    padding: 20px;
    position: relative;
    overflow: hidden;


}

.promo article:first-child{
    background-image: url("../img/raspberry-bg.jpg");
}

.promo article:last-child{
    background-image: url("../img/chocolate-bg.jpg");
}

.promo h2{
    margin-top: 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    color: white;
}

.promo p{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: white;

}

.promo a{
    float: right;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    position: absolute;bottom: 20px;
    right: 20px;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 40px;
}

.product-item{
    flex-basis: 267px;
    transition: all 0.5s ease;
}

.product-item:first-child{
    margin-left: 0;
}

.product-item:hover{
    border-radius: 4px;
    background: rgba(248, 247, 244,0.2);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}

.product-img{
    position: relative;
}
.sign{
    position: absolute;
}

.product-item img{
    width: 100%;
}

.product-info{

    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: white;

}


.price{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 45px;
    line-height: 13px;
    color: white;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price svg{
    position: relative;
    top:7px
}

.product-item > div:last-child{
    display: flex;
    justify-content: center;
}

.product-item button{

    padding: 10px 15px 10px 15px;
    margin-bottom: 20px;
    opacity: 0;


}

.product-item:hover button{

    opacity: 1;
}

.advantage{

    border-radius: 10px;
    background-image: url("../img/waffle-bg.jpg");
    padding: 20px 20px 0 20px;
    margin-bottom: 40px;
}

.advantage h3{
    margin: 0;
    margin-bottom: 10px;
    font-family: Roboto;
    color: #323232;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.description-of-advantage{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.advantage-item{
    display: flex;
    padding-bottom: 20px;
    align-items: start;
}

.advantage-item img{
    margin-right: 10px;
}

.advantage-item:nth-child(2n+1) .advantage-text{
    padding-right: 15px;
}

.advantage-text{
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.advantage ~ div{
    display: flex;
    justify-content: space-between;
}

.aside-block{
    height: 220px;
    width: calc(50% - 12.5px);
    border-radius: 10px;
    padding: 20px;
}

.blog-news{
    background-image: url("../img/strawberry-bg.jpg");
    background-position: 800px 570px;
}

.blog-news span{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}

.blog-news h3{
    width: 60%;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    text-decoration: underline;
    margin-top: 10px;
}

.blog-news a{
    color: #323232;
}

.mailing{


    background: repeating-linear-gradient(
            -45deg,
            white,
            white 5px,
            #92cdff 5px,
            #92cdff 10px,
            white 10px,
            white 15px,
            #fe9e90 15px,
            #fe9e90 20px
    );
    padding: 5px;
}

.mailing > div{
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    background: #F8F7F4;

}

.mailing p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: #5A5A5A;
}

.mailing form{
    margin-top: 35px;
    height: 47px;
}

.send-mail input[type=email]{
    width: 60%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    font-family: Roboto;
    font-size: 16px;
}

.send-mail input[type=submit]{
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}


.map {
    padding-top:40px ;
    position: relative;
}

.map iframe{
    width: 100%;
}

.adress-info {
    position: absolute;
    right: 50px;
    bottom: 60px;
    width: 300px;
    border-radius: 20px;
    padding: 15px 25px 15px 25px;
    background: rgba(255, 255, 255, 0.98);
    font-size: 14px;
    line-height: 20px;
    color: #323232;

}

.adress-info span{
    display: block;

    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.adress-info span:first-child{
    margin-top: 20px;
    margin-bottom: 20px;
}

.adress-info a{
    color: #323232;
}

.adress-info a:hover{
    color: red;
}

.adress-info button{
    padding: 10px 20px 10px 20px;
    margin: 40px auto 30px auto;
}



.modal-form{
    display: none;
    position: fixed;
    top: 10vh;
    left: calc(50% - 240px);
    padding: 20px;
    width: 480px;
    background: #F8F7F4;
    border-radius: 10px;
    z-index: 3;


}

.modal-form svg{
    position: absolute;
    right: 20px;

}

.modal-form svg:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.5s;

}

.modal-form path{
    transition: all 0.5s ease;
}

.modal-form svg:hover path{
    fill: red;
}

.modal-form h2{
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    margin-bottom: 20px;
}

.modal-form input:nth-child(2),
.modal-form input:nth-child(3){
    width: 270px;
    display: block;
}

.modal-form input:nth-child(2),
.modal-form input:nth-child(3),
.modal-form textarea{
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    margin-bottom: 17px;
}

.modal-form textarea{
    resize: none;
    overflow: auto;
    height: 150px;
    width: 100%;
}

.modal-form input[type=submit]{
    width: 141px;
    height: 46px;
    margin-left: auto;
    float: right;

}

.filter{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

